.title {
  text-align: center;
}

p {
  text-align: center;
}
.titleDiv {
  text-align: center;
}
.button {
  background-color: rgb(40, 96, 245);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.subTitle {
  text-align: left;
  color: hsl(220, 64%, 32%);
}

.ourStoryP {
  text-align: left;
}

img {
  width: 45%;
  height: 100%;
  border-radius: 5px;
  text-align: right;
}

.ourStoryDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
