header {
  background-color: #00a9e0;
  color: #fff;
  text-align: center;
  padding: 20px;
}
nav {
  /* background-color: #333; */
  text-align: right;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.title {
  text-align: left;
}
