header {
  background-color: #00a9e0;
  color: #fff;
  /* text-align: center; */
  padding: 20px;
  display: flex;
  /* padding: 10px 0; */
}
nav {
  /* text-align: right;
  padding: 10px 0; */
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  text-align: right;
}

/* nav a:hover {
  text-decoration: underline;
} */

.title {
}

h2 {
  display: inline-block;
}

.navButton {
  text-align: right;
}

nav a .navButton:hover {
  text-decoration: underline;
}
